{% extends "index.html" %}

{% block content %}
<div class="container mt-4" style="min-height: 100vh">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mt-2">Результаты поиска: {{ found_articles.count }}</h3>
            {% for article in found_articles %}
            <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4></a>
            <p>{{ article.content|truncatewords:30 }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}